body{
    overflow-x: hidden;
    height: 100%; margin: 0; padding: 0;
    background-color: #FBFBFB;
}
html {height: 100%;}


.display-screen{
  
  height: 100vh; 
  
}

p {
  font-size: 1.25rem;
}


.selfie{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* Contact me section */
.mail-button{
  background-color: #016477;
}
.mail-button-bg :hover{
  background-color: #01303D;
}
.center {
  margin: 0;
  position: absolute;
  top:30%;

  transform: translateY(-50%);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translateX(-50%);
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.svg1 {
  background: no-repeat center;
  background-image: url(/img/blob_1.svg);
  display: flex;
}
.svg2 {
  background: no-repeat right;
  background-image: url(/img/blob_2.svg);
  display: flex;
}
.svg3 {
  background: no-repeat left;
  background-image: url(/img/blob_3.svg);
  display: flex;
}