body{
    overflow-x: hidden;

}

 /* Official unofficial section*/
.h1icons{
  font-size: 2rem;
}
.shadow{
  box-shadow: inset 0 5px 5px -5px #494440;
  }

 /* logo navbar section */

.background-img{
  background-image: url("../img/businessman-with-arms-crossed-smiling.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right 50px;
}

.logo{
    height: 2.5rem;
    width: auto;
}
.nav-link{
    font-size: 1.25rem;     
}


/* Gradient divider between sections */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.gradient-bg {
  background: linear-gradient(-45deg, #469cb7, #016477, #001219, #0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Projects section */ 
  
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }
  
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Contact me section */
.mail-button{
  background-color: #016477;
}
.mail-button-bg :hover{
  background-color: #01303D;
}
